@use "@/assets/styles/colors";

.container {
  width: 64px;
  min-width: 64px;
  padding-top: 16px;
  border-right: 1px solid colors.$neutral-200;
}

.navItemContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 18px;
  text-decoration: none;
  color: colors.$black;

  .navItemIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 4px;
    transition: 0.1s linear all;
    color: colors.$neutral-700;

    &:hover {
      background-color: rgba(colors.$neutral-100, 0.8);
    }
  }

  .navItemTitle {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: colors.$neutral-700;
  }

  &.active {
    .navItemIcon {
      background-color: rgba(colors.$neutral-200, 0.5);
      color: colors.$neutral-900;
    }
    .navItemTitle {
      color: colors.$neutral-900;
    }
  }
}