@use '@/assets/styles/colors';

.containerPopup {
  background-color: colors.$white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 16px;
  border-radius: 8px;
  min-width: 300px;
}

.colorPicker {
  width: 100% !important;
}

.wrapInputColor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
}

.btnEyeDropper {
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 1px solid colors.$neutral-100;
  padding: 6px;
  color: colors.$neutral-500;
}