.container {
  width: 150px;
}

.input {
  &[type="range"] {
    font-size: 1.5rem;
  }

  &[type="range"] {
    color: black;
    --thumb-height: 1.125em;
    --track-height: 0.125em;
    --track-color: rgba(0, 0, 0, 0.2);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
  }


  /* === range commons === */
  &[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
  }

  &[type="range"]:active {
    cursor: grabbing;
  }

  &[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
  }

  /* === WebKit specific styles === */
  &[type="range"],
  &[type="range"]::-webkit-slider-runnable-track,
  &[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  &[type="range"]::-webkit-slider-runnable-track,
  &[type="range"]::-webkit-slider-thumb {
    position: relative;
  }

  &[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(
                    100% -1px,
                    var(--clip-edges) -1px,
                    0 var(--clip-top),
                    -100vmax var(--clip-top),
                    -100vmax var(--clip-bottom),
                    0 var(--clip-bottom),
                    var(--clip-edges) 100%,
                    var(--clip-further) var(--clip-further)
    );
  }

  &[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
  }

  &[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
  }

  &[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
  }

  &[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }

  /* === Firefox specific styles === */
  &[type="range"],
  &[type="range"]::-moz-range-track,
  &[type="range"]::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  &[type="range"]::-moz-range-track,
  &[type="range"]::-moz-range-thumb,
  &[type="range"]::-moz-range-progress {
    background: #fff0;
  }

  &[type="range"]::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
  }

  &[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
  }

  &[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
  }

  &[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
  }

  &[type="range"]::-moz-range-track,
  &[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
  }

  &[type="range"]::-moz-range-thumb,
  &[type="range"]::-moz-range-progress {
    filter: brightness(100%);
  }

  &[type="range"]:hover::-moz-range-thumb,
  &[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
  }

  &[type="range"]:active::-moz-range-thumb,
  &[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
  }

  &[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
  }

}
