$font-family: 'Satoshi Variable';

$font-size-xs: 10px;
$font-size-smd: 12px;
$font-size-md: 13px;
$font-size-lg: 16px;
$font-size-extra-lg: 28px;

$font-weight-regular: 480;
$font-weight-medium: 580;
$font-weight-bold: 800;